@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #9eb384;
  text-align: center;
}
.big-container {
  /* margin: auto 0 !important; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #435334;
}
.container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 30px;
}
.game {
  height: 60vmin;
  width: 60vmin;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.box {
  height: 18vmin;
  background-color: #435334;
  color: white;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
}

.reset-btn {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #395144;
  color: white;
}
.result-container {
  width: 42vw;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #435334;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}
.hide {
  display: none;
}

.winnerMsg {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}
.new-game-btn {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #395144;
  color: white;
}

.remove {
  display: none;
}

/* ......media query...... */

@media screen and (max-width: 480px) {
  .big-container {
    /* margin: auto 0 !important; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    height: 50vh;
  }
  .result-container {
    width: 80vw;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #435334;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
  }
  .game {
    height: 70vmin;
    width: 90vmin;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 0.5rem; */
  }
  .box {
    height: 22vmin;
    background-color: #435334;
    color: white;
    width: 22vmin;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
  }

  .winnerMsg {
    font-size: 2rem;
    color: white;
    font-weight: 400;
  }
}
